= form_for @metadatum do |f|
  - if @metadatum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@metadatum.errors.count, "error")} prohibited this metadatum from being saved:"
      %ul
        - @metadatum.errors.full_messages.each do |msg|
          %li= msg
  - if @came_from_stash
    .field
    = hidden_field_tag :came_from_stash, TRUE
  .field
    = f.label :stash_id
    = f.collection_select :stash_id, @stashes_unpaged, :id, :title
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :content
    = f.text_field :content
  .actions
    = f.submit 'Save'
